[submodule "utils"]
	path = utils
	url = https://github.com/Basgrani-Org/bas-meteor-utils.git
[submodule "facebook-login"]
	path = facebook-login
	url = https://github.com/Basgrani-Org/bas-meteor-facebook-login.git
[submodule "ip-geo"]
	path = ip-geo
	url = https://github.com/Basgrani-Org/bas-meteor-ip-geo.git
[submodule "jwplayer"]
	path = jwplayer
	url = https://github.com/Basgrani-Org/bas-meteor-jwplayer.git
